.welcome {
  background-color: #e7f5ff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
.welcome-intro {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.welcome h2 {
  font-size: 2rem;
  font-weight: 600;
}
.welcome img {
  width: 10rem;
  border-radius: 50%;
}
