.all-patients {
  background-color: #e7f5ff;
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
  border-radius: 5px;
}
.all-patients_header {
  display: flex;
  font-size: 2rem;
  color: #0a198d;
  font-weight: 600;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.all-patients_body {
  position: relative;
  padding: 2rem;
}
.all-patients_header div {
  cursor: pointer;
}
.all-patients_body table {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.all-patients_body table th,
.all-doctors_body table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.all-patients_body table th {
  background-color: #c5f6fa;
  font-weight: bold;
}

.all-patients_body table tbody tr:hover {
  background-color: #c5f6fa;
}
