.appointments {
  background-color: #e7f5ff;
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
  border-radius: 5px;
}
.appointments_header {
  display: flex;
  font-size: 2rem;
  color: #0a198d;
  font-weight: 600;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.appointments_body {
  position: relative;
  padding: 2rem;
}
.appointments_header div {
  cursor: pointer;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.appointment-date {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}
.appointments_header div {
  margin-right: 3rem;
}
.appointments_body table {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.pending {
  background-color: rgb(140, 135, 135);
}
.accepted {
  background-color: rgb(86, 86, 192);
}
.rejected {
  background-color: rgb(166, 84, 84);
}
.finished {
  background-color: rgb(79, 158, 79);
}
