.hero {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  animation: leftslide 1s ease-in-out;
}
@keyframes leftslide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.hero h1,
.hero p {
  font-size: 10rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #0a198d;
  letter-spacing: 15px;
  text-align: center;
}
.hero h1 {
  animation: slideDown 1s ease-in-out 0.5s forwards;
  opacity: 0;
}
.hero p {
  animation: slideDown 1s ease-in-out 0.5s forwards;
  opacity: 0;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
